
<div style="width:800px;">
  <table>
    <tr>
      <td colspan="2">
        <div style="margin-left:20px;">
           <%= render :partial => "layouts/mailbox_list" %>
        </div>

      </td>
    </tr>
    <tr>
      <td valign="top">
     <div class="divsearch">
       <div style="margin-top:30px;" >
    <br />  <p></p>
  <p><%= text_field 'subject','message'%><p>
  <p>   <p>
<p>
  <p>
  <p><%= submit_tag 'Search' %></p>
  </div>
 </div>
        <div class="divcreategroup">
                </div>
      </td>
      <td>
        <div class="divrecord">
       <h2>Sent Messages</h2>
 <table border="1">
      <tr>
        <th>To</th>
        <th>Subject</th>
        <th>Sent</th>
      </tr>

      <% for message in @messages %>
        <tr>
          <td><%=h message.recipients.map(&:login).to_sentence %></td>
          <td><%= link_to h(message.subject), sent_path(message) %></td>
          <td><%= distance_of_time_in_words(message.created_at, Time.now) %> ago</td>
        </tr>
      <% end %>
    </table>

    <%= will_paginate @messages %>
          </div>
      </td>
    </tr>
    <tr>
      <td>

      </td>
    </tr>
  </table>



  </div>
















<h2>Sent Messages</h2>

    <table border="1">
      <tr>
        <th>To</th>
        <th>Subject</th>
        <th>Sent</th>
      </tr>

      <% for message in @messages %>
        <tr>
          <td><%=h message.recipients.map(&:login).to_sentence %></td>
          <td><%= link_to h(message.subject), sent_path(message) %></td>
          <td><%= distance_of_time_in_words(message.created_at, Time.now) %> ago</td>
        </tr>
      <% end %>
    </table>

    <%= will_paginate @messages %>