<div style="margin-left:20px;" > 
  <div >
    <%= link_to image_tag('create_album.JPG'), new_album_path %>
  </div >
   <b> Albums</b>
 
<% if @albums.empty?%>
   <div>
NO ALBUM CREATED YET.
   </div>
 <% else %>
<% @albums.each do |album| %>
   <blockquote>
  <table>
  <tr>
  <td width="200px" align="center" >
   <% c=1 %>
<% for picture in album.pictures  %>
<% if c==1 %>
 <%= link_to image_tag(picture.picture.url, :size => '150x100'), :action => 'show',:id => picture.album_id,:pro => picture.id %>
 <% c= c+1 %>
 <% end %>
 <% end %>         
      </td>
  <td valign="top">
<h2><%=link_to album.name %></h2>
  <%=h album.description %>
 <h2> <%= link_to 'View Album', album %>|<%= link_to 'Add more Photos', :action=> 'edit', :id=>album %>
    <%= link_to 'Edit Album', edit_album_path(album) %>|
<%= link_to 'Delete Album', album, :confirm => 'Are you sure?', :method => :delete %>
   </h2>
 </td>

     </tr>
<% end %>
<% end %>
</table>
     </blockquote>
<br />
 </div>