<div style="margin-left:20px;" align="left">
<h1>Editing sound</h1>

<% form_for(@sound) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @sound %> |
<%= link_to 'Back', sounds_path %>

</div>